.page {
  width: 100%;
  padding-inline: 20px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  border-inline: 1px solid var(--color-axis-line);
  min-height: 100vh;
  height: 100%;

  @media (max-width: 768px) {
    border: none;
  }
}
