@use "./reset";

:root {
  --color-text: #42567a;
  --color-accent-blue: #5d5fef;
  --color-accent-pink: #ef5da8;
  --color-background: #f4f5f9;

  --color-step-border: rgba(48, 62, 88, 0.5);
  --color-axis-line: rgba(48, 62, 88, 0.12);
  --color-circle-border: rgba(66, 86, 122, 0.2);

  --color-slider-button: rgba(66, 86, 122, 0.5);
}

body {
  font-family:
    "PT Sans",
    system-ui,
    -apple-system,
    sans-serif;
  background: var(--color-background);
  font-size: 14px;
  line-height: 1.4;
  color: var(--color-text);
}
