@use "./reset";

:root {
  --color-text: #42567a;
  --color-accent-blue: #5d5fef;
  --color-accent-blue2: #3877ee;
  --color-accent-pink: #ef5da8;
  --color-background: #f4f5f9;

  --color-step-border: rgba(48, 62, 88, 0.5);
  --color-axis-line: rgba(48, 62, 88, 0.12);
  --color-circle-border: rgba(66, 86, 122, 0.2);

  --color-slider-button: rgba(66, 86, 122, 0.5);

  --color-gray-border: #c7cdd9;

  --content-gutter: clamp(20px, 3vw, 80px);

  --transition-duration-default: 0.3s;
}

body {
  font-family:
    "PT Sans",
    system-ui,
    -apple-system,
    sans-serif;
  background: var(--color-background);
  font-size: 14px;
  line-height: 1.6;
  color: var(--color-text);
}

.content-padding {
  padding-inline: var(--content-gutter);
}

#root {
  min-width: 320px;
}
