.root {
  position: relative;
  padding-top: clamp(59px, 10vw, 100px);
  padding-bottom: clamp(13px, 10vw, 30px);

  @media (max-width: 768px) {
    height: 100dvh;
  }
}

.axes {
  position: absolute;
  top: 0;
  bottom: 0;
  min-height: 100vh;
  height: 100%;
  pointer-events: none;
  left: 0px;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    inset-block: 0;
    inset-inline-start: 50%;
    width: 1px;
    background: var(--color-axis-line);
    transform: translateX(-0.5px);

    @media (max-width: 768px) {
      display: none;
    }
  }
}

.events {
  @media (max-width: 768px) {
    margin-right: calc(-1 * var(--content-gutter));
  }
}

.circleActions {
  position: absolute;
  bottom: 13px;
  z-index: 3;
  padding-left: var(--content-gutter);

  @media (min-width: 768px) {
    display: none;
  }

  @media (max-width: 768px) {
    padding-left: 0;
  }
}
