.root {
  position: relative;
  padding-top: clamp(59px, 10vw, 100px);
  padding-bottom: clamp(13px, 10vw, 30px);
}

.axes {
  position: absolute;
  top: 0;
  bottom: 0;
  min-height: 100vh;
  height: 100%;
  pointer-events: none;
  left: 0px;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    inset-block: 0;
    inset-inline-start: 50%;
    width: 1px;
    background: var(--color-axis-line);
    transform: translateX(-0.5px);
  }
}

.itemIndex {
  margin-bottom: 20px;
}

.actionButtons {
  display: flex;
  gap: 20px;
}

.events {
  margin-top: 56px;
}
