.root {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding: 80px 40px;
}

.header {
  font-size: 56px;
  position: relative;
  z-index: 2;
  line-height: 1.2;
  top: -50px;
}

.title {
  padding-left: 78px;
  border-left: 7px solid;
  border-image: linear-gradient(
    to bottom,
    var(--color-accent-blue),
    var(--color-accent-pink)
  );
  border-image-slice: 1;
}

.axes {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  right: 40px;
  height: 100vh;

  pointer-events: none;
  border-left: 1px solid var(--color-axis-line);
  border-right: 1px solid var(--color-axis-line);

  &::before {
    content: "";
    position: absolute;
    inset-block: 0;
    inset-inline-start: 50%;
    width: 1px;
    background: var(--color-axis-line);
    transform: translateX(-0.5px);
  }
}

.itemIndex {
  margin-bottom: 20px;
}

.actionButtons {
  display: flex;
  gap: 20px;
}
