.root {
  user-select: none;
}

.year {
  font-family: "Bebas Neue", sans-serif;
  color: var(--color-accent-blue2);
  font-size: 25px;
  font-weight: 300;
  line-height: 20px;
  line-height: 1.2;
  margin-bottom: 15px;

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  line-height: 1.2;
  font-size: 20px;

  @media (max-width: 768px) {
    font-size: inherit;
  }
}
