.year {
  font-family: "Bebas Neue", sans-serif;
  color: var(--color-accent-blue2);
  font-size: 25px;
  font-weight: 300;
  line-height: 20px;
  line-height: 1.2;
  margin-bottom: 15px;
}

.description {
  line-height: 1.2;
  font-size: 20px;
}
