.root {
  border-radius: 50%;
  width: var(--btn-size);
  height: var(--btn-size);

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--color-text);
  user-select: none;

  & svg {
    width: 9px;
    height: 14px;
    display: block;
  }
}

.outline {
  transition: background var(--transition-duration-default);
  border: 1px solid var(--color-slider-button);

  &:hover {
    background-color: white;
  }
}

.filled {
  box-shadow: 0 0 15px rgba(56, 119, 238, 0.1);
  background-color: white;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
