.root {
  border-radius: 50%;
  border: 1px solid var(--color-slider-button);
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--color-text);

  & svg {
    width: 9px;
    height: 14px;
    display: block;
  }
}

.outline {
  transition: background 0.3s;

  &:hover {
    background-color: white;
  }
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
