.root {
  position: relative;
  padding-inline: var(--content-gutter);
  margin-top: 56px;

  @media (max-width: 768px) {
    padding-inline: 0;
    margin-top: 0;
  }
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  user-select: none;
  transition: opacity var(--transition-duration-default);
  width: 30px;
  height: 30px;
  @media (max-width: 768px) {
    display: none;
  }
}
.prev {
  left: 20px;
}
.next {
  right: 20px;
}

.disabled {
  opacity: 0;
  pointer-events: none;
}

.periodLabel {
  display: none;

  @media (max-width: 768px) {
    margin-right: var(--content-gutter);
    display: block;
    font-weight: 600;
    border-bottom: 1px solid var(--color-gray-border);
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .swiper {
    :global(.swiper-pagination) {
      padding-right: var(--content-gutter);
    }
    :global(.swiper-slide) {
      transition: opacity var(--transition-duration-default);
    }
    :global(.swiper-slide-next),
    :global(.swiper-slide-prev) {
      opacity: 0.6;
    }
    :global(.swiper-pagination) {
      position: static;
      margin-top: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }

    :global(.swiper-pagination-bullet) {
      width: 6px;
      height: 6px;
      margin: 0;
      border-radius: 50%;
      background: var(--color-text);
      opacity: 0.25;
      transition:
        opacity var(--transition-duration-default) ease,
        transform var(--transition-duration-default) ease;
    }

    :global(.swiper-pagination-bullet-active) {
      opacity: 1;
    }
  }
}
